body{
background-image: url(pen.jpg);
background-repeat: no-repeat;
background-size: 1380px 800px;
}
form{
    border: solid 1px;
    width: 400px;
    margin-left: 50px;
    padding-left: 10px;
}
label{
    font-size: 22px;
    color: darkslategray;
    font-weight: bold;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 2opx;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    font-size: 22px;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}
}